## Construire une table des noms communs étiqutée en genre et en nombre à partir du dictionnaire DM

In [21]:
from IPython.display import display, HTML
import urllib.request
import pandas as pd

In [ ]:
files = ["A.txt", "ADV.txt", "F.txt", "N.txt", "V.txt", "gpl.txt", "lisez-moi.txt"]

for f in  files:
    url ="https://huggingface.co/datasets/FrancophonIA/le-DM/resolve/main/tableaux-txt/"+f
    urllib.request.urlretrieve(url, f)

    print("Download complete.")

# https://www.ortolang.fr/market/lexicons/le-dm

url = "https://repository.ortolang.fr/api/content/le-dm/1/dm_documentation.pdf"
urllib.request.urlretrieve(url, "dm_documentation.pdf")

url = "https://repository.ortolang.fr/api/content/le-dm/1/ftrouilleux_Le_DM_a_French_Dictionary_for_NooJ.pdf"
urllib.request.urlretrieve(url, "ftrouilleux_Le_DM_a_French_Dictionary_for_NooJ.pdf")


print("Download complete.")

In [15]:

for f in files[:5]:
    print(f, " ", end="")
    with open(f) as fichier:
        lines = sum(1 for n in fichier)
        print(str(lines), " lignes")
        
        # Remettre le pointeur au début
        fichier.seek(0)

        for _ in range(4):
            ligne = fichier.readline()
            if not ligne:  # Arrête si la fin du fichier est atteinte
                break
            print(ligne.strip())
    print('-'*50)

A.txt  60477  lignes
Forme	Lemme	Cat	Genre	Nb	Pers	Temps	Spec	Fonc	Gvn/Dist/Aux	Graph	Lang	Cmp	FLX	DRV	UNAMB	Ref	Sem	Info/Accent
quel	quel	A	m	s			int						S_DE
quels	quel	A	m	p			int						S_DE
quelle	quel	A	f	s			int						S_DE
--------------------------------------------------
ADV.txt  2707  lignes
Forme	Lemme	Cat	Genre	Nb	Pers	Temps	Spec	Fonc	Gvn/Dist/Aux	Graph	Lang	Cmp	FLX	DRV	UNAMB	Ref	Sem	Info/Accent
premièrement	premier	ADV					ord						ERS_ERE	EREMENT:NUL 				dadj
deuxièmement	deuxième	ADV					ord						S_0	MENT:NUL 				dadj
secondement	second	ADV					ord						S_E	EMENT:NUL 				dadj
--------------------------------------------------
F.txt  2308  lignes
Forme	Lemme	Cat	Genre	Nb	Pers	Temps	Spec	Fonc	Gvn/Dist/Aux	Graph	Lang	Cmp	FLX	DRV	UNAMB	Ref	Sem	Info/Accent
voici	voici	PRES
voilà	voilà	PRES
revoici	voici	PRES
--------------------------------------------------
N.txt  94672  lignes
Forme	Lemme	Cat	Genre	Nb	Pers	Temps	Spec	Fonc	Gvn/Dist/Aux	Graph	Lang	Cmp	FLX	DRV	UNAMB	Ref	Sem	Info/Accent
aout	aout	N					npr			Rec							Mois
août	aout	N					npr			Opt							Mois
avril	avril	N					npr										Mois
--------------------------------------------------
V.txt  447257  lignes
Forme	Lemme	Cat	Genre	Nb	Pers	Temps	Spec	Fonc	Gvn/Dist/Aux	Graph	Lang	Cmp	FLX	DRV	UNAMB	Ref	Sem	Info/Accent
abaisserai	abaisser	V		s	1	F			a				AIMER
abaisseras	abaisser	V		s	2	F			a				AIMER
abaissera	abaisser	V		s	3	F			a				AIMER
--------------------------------------------------

#### importer N.txt dans un dataframe et faire une analyse

In [12]:
df = pd.read_csv("N.txt", sep="\t")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94671 entries, 0 to 94670
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Forme         94671 non-null  object
 1   Lemme         94671 non-null  object
 2   Cat           94671 non-null  object
 3   Genre         94353 non-null  object
 4   Nb            94353 non-null  object
 5   Pers          0 non-null      float64
 6   Temps         0 non-null      float64
 7   Spec          291 non-null    object
 8   Fonc          0 non-null      float64
 9   Gvn/Dist/Aux  0 non-null      float64
 10  Graph         3792 non-null   object
 11  Lang          837 non-null    object
 12  Cmp           7893 non-null   object
 13  FLX           94345 non-null  object
 14  DRV           0 non-null      float64
 15  UNAMB         8326 non-null   object
 16  Ref           0 non-null      float64
 17  Sem           317 non-null    object
 18  Info/Accent   0 non-null      float64
dtypes: float64(7), object(12)
memory usage: 13.7+ MB

/tmp/ipykernel_3510/150847655.py:1: DtypeWarning: Columns (7,11,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("N.txt", sep="\t")

In [13]:
# Supprimer les colonnes entièrement vides
df.dropna(axis=1, how='all', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94671 entries, 0 to 94670
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Forme   94671 non-null  object
 1   Lemme   94671 non-null  object
 2   Cat     94671 non-null  object
 3   Genre   94353 non-null  object
 4   Nb      94353 non-null  object
 5   Spec    291 non-null    object
 6   Graph   3792 non-null   object
 7   Lang    837 non-null    object
 8   Cmp     7893 non-null   object
 9   FLX     94345 non-null  object
 10  UNAMB   8326 non-null   object
 11  Sem     317 non-null    object
dtypes: object(12)
memory usage: 8.7+ MB

In [5]:
# que contient la colonne "Spec" ?
Spec = set(df["Spec"].dropna())
print(Spec)
# Print the output in wrap mode in a wider column
output = df[df["Spec"].notna()].Forme.to_list()
display(HTML('<div style="width: 1000px; white-space: pre-wrap;">{}</div>'.format(output)))
# « noms propres », en fait des noms qui peuvent constituer un groupe nominal sujet sans déterminant, ex. madame, octobre

{'npr'}

In [6]:
# aucun genre n'est renseigné pour les noms propres
print(df[df['Genre'].notna() & df['Spec'].notna()])

Empty DataFrame
Columns: [Forme, Lemme, Cat, Genre, Nb, Spec, Graph, Lang, Cmp, FLX, UNAMB, Sem]
Index: []

In [8]:
# recherche des mots avec sémantique (Sem = "Region", "Initiale"...) avec genre
print(df[df['Genre'].notna() & df['Sem'].notna()])

Empty DataFrame
Columns: [Forme, Lemme, Cat, Genre, Nb, Spec, Graph, Lang, Cmp, FLX, UNAMB, Sem]
Index: []

In [14]:
# supprimer les lignes avant de supprimer les colonnes !!!
df.drop(df[df['Sem'].notna()].index, inplace=True)
df.drop(df[df['Spec'].notna()].index, inplace=True)

# supprimer colonnes Sem, Cat=N et Spec
# et aussi FLX sans intérêt après examen

df.drop(columns=['Sem','Spec', 'Cat', 'FLX'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94354 entries, 76 to 94670
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Forme   94354 non-null  object
 1   Lemme   94354 non-null  object
 2   Genre   94353 non-null  object
 3   Nb      94353 non-null  object
 4   Graph   3790 non-null   object
 5   Lang    837 non-null    object
 6   Cmp     7893 non-null   object
 7   UNAMB   8326 non-null   object
dtypes: object(8)
memory usage: 6.5+ MB

In [16]:
# que contient la colonne "Lang" ?
Lang = sorted(set(df["Lang"].dropna().unique()))
lang_counts = df["Lang"].value_counts().to_dict()
print(lang_counts)
print(Lang)
# 'en': 'English',
# 'es': 'Spanish',
# 'it': 'Italian',
# 'la': 'Latin',

{'en': 595, 'la': 120, 'it': 35, 'es': 12, 'tk': 10, 'ms': 9, 'zh': 9, 'de': 9, 'he': 6, 'bo': 4, 'vi': 4, 'ar': 4, 'br': 4, 'pt': 2, 'afa': 2, 'id': 2, 'ja': 2, 'oc': 2, 'bnt': 2, 'no': 2, 'hi': 1, 'sai': 1}
['afa', 'ar', 'bnt', 'bo', 'br', 'de', 'en', 'es', 'he', 'hi', 'id', 'it', 'ja', 'la', 'ms', 'no', 'oc', 'pt', 'sai', 'tk', 'vi', 'zh']

In [17]:
print(df[df["Lang"].notna()][["Forme", "Lang"]].sample(n=20))

                   Forme Lang
89264        cosy=corner   en
90803            jet=set   en
93736       star=systems   en
91721           ossobuco   it
93939         teen_agers   en
89984        forte=piano   it
88861         cargo=boat   en
91758           pale=ale   en
93923            te=deum   la
93196        rock’n’roll   en
89567        deo=gratias   la
91146           mah=jong   zh
94629           week_end   en
88663         break=down   en
91923       pater=noster   la
88266       bar=mitsvahs   he
93814       sweat=shirts   en
93719  sparring=partners   en
90831           juke_box   en
94446          twin=sets   en

In [18]:
# que contient la colonne "Cmp" ?
# Les  noms,  verbes  et  adjectifs  composés  proprement  français  ont  un  attribut  Cmp  dont  la  valeur  indique  le  schéma  de 
# composition. Le tableau 4 donne les fréquences des schémas dont le code est obtenu par croisement des entêtes de ligne et de 
# colonnes.  Ainsi,  par  exemple,  800  lemmes  sont  construits  sur  un  schéma  préfixe-nom  (code  PFX_N).  A  ces  47  codes 
# s’ajoutent 6 autres codes, décrits dans le tableau 5. 
Cmp = sorted(set(df["Cmp"].dropna().unique()))
print("nombre de schémas de composition: ", len(Cmp))
print(Cmp)

nombre de schémas de composition:  48
['ADV_A', 'ADV_N', 'ADV_PP', 'ADV_V', 'A_A', 'A_G', 'A_GP', 'A_N', 'A_PP', 'A_V', 'G_N', 'NUM', 'NUM_GP', 'NUM_N', 'NUM_NUM', 'N_A', 'N_ADV', 'N_G', 'N_GN', 'N_GP', 'N_N', 'N_PP', 'PFX_A', 'PFX_N', 'PFX_NUM', 'PFX_PRO', 'PFX_SFX', 'PFX_V', 'PH', 'PP_GP', 'PP_PP', 'P_GN', 'P_N', 'P_NUM', 'P_PRO', 'P_V', 'QREP', 'REP', 'TBD', 'V_A', 'V_ADV', 'V_GN', 'V_GP', 'V_N', 'V_NUM', 'V_PRO', 'V_V', 'dCMP']

In [ ]:
# créer ds listes de caractères utilisés dans Forme et Lemme
# Concatenate all words in the 'Forme' column into a single string
forme_words = ''.join(df['Forme'].dropna())
# Create a set of unique characters
forme_chars = sorted(set(forme_words)) # transformé en liste triée
# Concatenate all words in the 'Forme' column into a single string
lemme_words = ''.join(df['Lemme'].dropna())
# Create a set of unique characters
lemme_chars = sorted(set(lemme_words)) # transformé en liste triée

print("Forme chars:")
display(HTML('<div style="width: 1000px; white-space: pre-wrap;">{}</div>'.format(forme_chars)))
print("Lemme chars:")
display(HTML('<div style="width: 1000px; white-space: pre-wrap;">{}</div>'.format(lemme_chars)))
print("list of chars identical: ",form_chars==lemme_chars)

Forme chars:

Lemme chars:

list of chars identical:  False

In [35]:
s_f = set(forme_chars)
s_l = set(lemme_chars)
s_az = set([chr(i) for i in range(ord('a'), ord('z')+1)])
s_AZ = set([chr(i) for i in range(ord('A'), ord('Z')+1)])

print(sorted(s_f - s_az))
print(sorted(s_l - s_az))

print(sorted(s_f - s_l))
print(sorted(s_l - s_f))
print(sorted(s_l | s_f))
print(sorted((s_l | s_f) - s_az))

[' ', "'", '-', '.', '4', '8', '=', '_', '°', 'à', 'â', 'æ', 'ç', 'è', 'é', 'ê', 'ë', 'î', 'ï', 'ñ', 'ô', 'ö', 'û', 'ü', 'œ', '’']
[' ', "'", '-', '.', '1', '2', '3', '4', '8', '=', 'A', 'D', 'F', 'M', 'N', 'P', 'R', '_', 'à', 'â', 'æ', 'ç', 'è', 'é', 'ê', 'ë', 'î', 'ï', 'ñ', 'ô', 'û', 'ü', 'œ']
['°', 'ö', '’']
['1', '2', '3', 'A', 'D', 'F', 'M', 'N', 'P', 'R']
[' ', "'", '-', '.', '1', '2', '3', '4', '8', '=', 'A', 'D', 'F', 'M', 'N', 'P', 'R', '_', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '°', 'à', 'â', 'æ', 'ç', 'è', 'é', 'ê', 'ë', 'î', 'ï', 'ñ', 'ô', 'ö', 'û', 'ü', 'œ', '’']
[' ', "'", '-', '.', '1', '2', '3', '4', '8', '=', 'A', 'D', 'F', 'M', 'N', 'P', 'R', '_', '°', 'à', 'â', 'æ', 'ç', 'è', 'é', 'ê', 'ë', 'î', 'ï', 'ñ', 'ô', 'ö', 'û', 'ü', 'œ', '’']